.footer{
    background-color: $primary-color;
    h5{
        color: $secondary-color;
        margin-top: unset;
        margin-bottom: unset;
        text-align: right;
        padding: 8px 85px 8px 0;
        font-size: 16px;
    }
}